#journalCard {
    border-radius: 10px;
    padding-bottom: 5px;
    border: 0px;
}

.journal-Happy-mood {
    background-color: lightgreen !important;
}

.journal-Angry-mood {
    background-color: lightpink !important;
}

.journal-Sad-mood {
    background-color: #638d96 !important;
    color: white;
}

.journal-Fear-mood {
    background-color: lightyellow !important;
    color: white;
}

.journal-Disguest-mood {
    background-color: lightsteelblue !important;
    color: white;
}

.journal-default-mood {
    background-color: lightblue;
}

#journal-timestamp {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

#journal-footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tag-Angry {
    background-color: red !important;
}

.tag-Fear {
    background-color: orange !important;
}

.tag-Sad {
    background-color: chocolate !important;
}

.tag-Disguest {
    background-color: slategrey !important;
}

.tag-Happy {
    background-color: green !important;
}

.submit_btn {
    display: block;
    cursor: pointer;
    display: fixed;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: rgb(226, 136, 104);
}

.submit_btn:hover {
    background-color: rgb(250, 117, 73);
}

.image_btn {
    display: block;
    cursor: pointer;
    display: fixed;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
}


.hidden-block {
    visibility: hidden !important;
}

.refresh {
    display: block;
    cursor: pointer;
    display: fixed;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: black;
    text-decoration: none;
    background-color: lightgreen;
}

.container-journal {
    color: black!important
}

@media screen and (min-width: 1000px) {
    .container-journal {
        color: white!important;
    }
}
